# SPDX-License-Identifier: GPL-2.0-only

config RISCV_RPMI_TEE_TRANSPORT
	tristate "RISC-V RPMI TEE service group transport"
	depends on RISCV && OF && RISCV_SBI_MPXY_MBOX
	help
	  Say Y or M here to enable the transport for services provided by the
	  RISC-V RPMI TEE service group.
